/*
Source - https://stackoverflow.com/a/19185177
Posted by Avatar, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-04, License - CC BY-SA 4.0
*/

h1 {color: blue; font-size: 13px; text-align: left; font-family: Arial, sans-serif;}
h2 {color: blue; font-size: 12px; text-align: left; font-family: Arial, sans-serif;}
h3 {color: blue ; font-size: 9px; text-align: right; font-family: Arial, sans-serif;}
.email {
    color: blue; 
    font-size: 9px; 
    text-align: left; 
    font-family: Arial, sans-serif;
    vertical-align: middle;
}
lien {
    color: blue; 
    font-size: 10px; 
    text-align: left; 
    font-family: Arial, sans-serif;
    vertical-align: middle;
}
table { 
    width: 100%;
    table-layout:fixed;
}
td {
    width: 33%;
    height: 33%;
    text-align: center;
    vertical-align: middle; 
    background-repeat: no-repeat;            
    background-size: cover;
    overflow-x: hidden;
    display: inline-block;
}
img {
    display:block; 
    width:100%; 
    height:auto;
}
.rotated {
    transform: rotate(90deg); /* Equal to rotateZ(90deg) */
    background-color: pink;
}
.resized {
    width:30%;
    height:auto;
    transition: transform 0.3s ease; /* Smooth animation */
}
.resized-10 {
    width:10%;
    height:auto;
    transition: transform 0.3s ease; /* Smooth animation */
}
.resized-30 {
    width:30%;
    height:auto;
    transition: transform 0.3s ease; /* Smooth animation */
}
.left-aligned {
    text-align:left;
    width: auto;
}
.zoom-img:hover {
    transform: scale(4.0); /* Enlarge by 1.5x */
}
.container {
    display: flex; /* Enables flex layout */
    gap: 20px; /* Space between divs */
    align-items: center; /* Vertically centers items */
    justify-content: left;
}