<html>
  <head>
    <link rel="stylesheet" href="/static/css/stylesheet.css">
  </head>
  <body>
    <table>
        <tr>
            <td>
                <h1>Hi, I am Raphaël, the artist </h1>
            </td>
            <td>
                <h3>paintings done in June 2026</h3>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><img class="rotated" src="{{url_for('static', filename='images/tarifa/Tarifa-001.jpg')}}" /></td>
            <td><img class="rotated" src="{{url_for('static', filename='images/tarifa/Tarifa-002.jpg')}}" /></td>
            <td><img src="{{url_for('static', filename='images/tarifa/Tarifa-003.jpg')}}" /></td>
        </tr>
        <tr>
            <td><img src="{{url_for('static', filename='images/tarifa/Tarifa-004.jpg')}}" /></td>
            <td><img src="{{url_for('static', filename='images/tarifa/Tarifa-005.jpg')}}" /></td>
            <td><img src="{{url_for('static', filename='images/tarifa/Tarifa-006.jpg')}}" /></td>
        </tr>
        <tr>
            <td><img class="rotated" src="{{url_for('static', filename='images/tarifa/Tarifa-007.jpg')}}" /></td>
            <td><img class="rotated" src="{{url_for('static', filename='images/tarifa/Tarifa-008.jpg')}}" /></td>
            <td><img class="rotated" src="{{url_for('static', filename='images/tarifa/Tarifa-009.jpg')}}" /></td>
        </tr>
    </table>

  </body>

</html>